@import '~antd/dist/antd.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  cursor: default;
  background-color: #ffffff;
}

a{
  text-decoration: none !important;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.ant-layout-header {
  background: none;
  padding: 0;
  line-height: 43px;
  height: 70px;
  transition: all 0.5s ease-in-out;
}

.ant-layout-header.animate {
  background: #ffffff;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 30px #f3f1f1;
}

.ant-layout-content {
  background-color: #ffffff;
}

.ant-layout-footer {
  background-color: #ffffff;
  border-top: solid 1px #e8e8e8;
  box-shadow: 0 0 30px #f3f1f1;
  height: 100px;
  line-height: 64px;
  text-align: center;
  overflow: hidden;
}

/* Backtop */
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #444444;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.efaGep {
  color: #f0f0f0 !important;
}

.ant-avatar {
  margin-right: 16px;
  margin-top: -5px;
}



/* Menu */
.menuBar {
  padding: 0 20px;
  padding-top: 2px;
  overflow: hidden;
}


.ant-layout-header.animate .logo a
{
  color: #666666;
  text-shadow: 1px 1px 1px #eeeeee;
}



.ant-layout-header .ant-menu-item
{
  border: none !important;
}

#presentation .react-parallax-bgimage{
  filter: grayscale(20%) !important
}

.logo {
  width: 320px;
  float: left;
  line-height: 0px;
}

.logo a {
  color: white;
  display: inline-block;
  padding: 13px 13px 0px 13px;
  text-shadow: 1px 1px 1px #444444;
}

.logo a big{
  font-size: 17px;
  display: block;
  margin-left: 63px;
  margin-top: -26px;
  font-variant: small-caps;
}

.logo a small{
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin-left: 65px;
  margin-top: 18px;
  font-variant: normal;
}


.menuCon {
  width: calc(100% - 400px);
  float: left;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;
  font-size: 16px;
}

.menuCon .ant-menu-item i {
  font-size: 16px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  margin-top: 10px;
  padding: 5px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
  background: none;
}

.menuCon .ant-btn-primary {
  border-color: white;
  color: white;
}



.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
}

.ant-layout-header.animate .menuCon .ant-btn-primary{
  border: 1px solid  #666666;
}

.ant-layout-header.animate .barsBtn{
  background: #666666;
}

.ant-layout-header.animate .barsBtn:after,
.ant-layout-header.animate .barsBtn:before{
  background: #666666;
}

.barsMenu {
  float: right;
  height: 32px;
  padding:  0 6px;
  line-height: 0;
  margin-top: 16px;
  display: none;
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: white;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: white;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item,
.ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
  display: inline-block;
  width: auto;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media(max-width: 800px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
    display: none;
  }

  .logo a {
    padding: 10px 20px;
  }
}

.ant-anchor-link-title a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.ant-anchor-link-title-active a {
  color: #1890ff;
  text-decoration: none;
}

.ant-timeline-item-content {
  margin: 0;
  position: relative;
  top: -6px;
}

.ant-timeline-item-head {
  background-color: rgb(247, 247, 247);;
}

#presentation .react-parallax-bgimage {
  left: 120% !important;
  object-fit: "none"
}

@media screen and (min-width: 800px) {
  #presentation .react-parallax-bgimage {
    left: 50% !important 
  }
}